p Hi #{name},
|
| you have successfully activated your project with the title <b>#{cptitle}</b> as project owner.
| Your project is created with the following ID: "#{cpid}"
| 
| 
| <p>If you want to make changes on your project or if you would like to invite co-workers on your project 
| please use the following link <a href="#{urlActivated}">Go2MyProject</a> to start your browser.</p>
|
| You can now 
| <ul>
|  <li>Change your personal data(except the eMail, age,...)</li>
|  <li>Change your project name and description</li>
|  <li>Invite co-workers to your project by clicking the button "CO-WORKERS"</li>
|  <li>Delete your project if there are no co-workers on the project"</li>
| </ul>
|
| <p>You will find all the information on Coolest Project on our website <a href="https://coolestprojects.be">Coolest Projects 2020</a> .</p>
|
| <p>Good luck #{name} and all the best with your project development.</p>
| 
| <p>Coolest Project team </p>
