<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" data-inline />
</head>

<body>
    <div class="container-fluid">
        <h1>{{t "Hi" }},</h1>
        <p>
        <strong>
            {{t "Attention please, there was an additional registration with your email address."}}
        </strong> 
        <p> </p>
            {{t "If you tried to register yourself, please note that you have already have a Coolest Project. Check your email folder to find the activation or the welcome email to access your project and user information."}}
        <p> </p>
            {{t "If your link is not working anymore please use the Login button on the main page to ask a new Login token for your email address."}}
        <p> </p>
            {{t "If your didn't make a new registration request yourself, you can safely ignore this mail. There is no risk that your registration has been taken over. Never share links that you received from us with anyone else."}} 
        <p> </p>
        <p><strong>{{t "Coolest Projects Team" }} </strong></p>
    </div>
</body>

</html>