<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" data-inline />
</head>

<body>
    <div class="container-fluid">
        <h1>{{{t "Hi {{hash.firstname}}" firstname=users.firstname }}},</h1>
        <p>
        <strong>{{t "Attention please, there was an additonal registration with your email."}}
        </strong> 
             <p>{{t "
                If you tried to register, please notice that you have already successfully registered
                to the Coolest Projects. Check your email folder to find the activation mail or the welcome
                mail to enter your project and user information.
                "}}</p>
             <p>{{t "
                If your link is not working any more please use the Login button on the main page to ask
                a new Login token after entering your email.
                "}}</p>
        <strong>
             <p>{{t "
                If this registration request was not comming from you ignore this mail. There is no risk
                that your registration was hacked. Don't share any link receiving from us with someone else.
                "}}</p>  
        </strong>   
        <p> </p>
        <p><strong>{{t "Coolest Project team" }} </strong></p>
    </div>
</body>

</html>