<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" data-inline />
</head>

<body>
    <div class="container-fluid">
        <h1>{{t "Hi {{hash.firstname}}" firstname=user.firstname }},</h1>

        <p>{{{t "you have successfully <strong>DELETED</strong> your participation in the project with
            the title '{{hash.ptitle}}' and project ID: #'{{{hash.cpid}}}'."
            ptitle=project.title cpid=project.id}}}</p>

        <p>{{t "You cannot use the project link any more to visit/update the project."}}</p>

        <p>{{t "You can anytime register your own project or paricipate in another project
            (you need then the code of the project owner) via the project page."}}</p>

        <p>{{t "If you do not enter your own project or participate in another project
            your registration will then be deleted after closing the coolest project registration."}}</p>

        <p>{{{t "If you have any further question please contact our team via
            an email to <b>mailto:info@coolestproject.be</b>."}}}</p>

        <p><strong>{{t "Coolest Project team" }} </strong></p>

    </div>
</body>

</html>