{{!< default}}
<div class="container-fluid">
    <h1 class="display-1"><i class="bi bi-calendar"></i> Planning</h1>
    {{#each grid}}
        <div class="row flex-row flex-nowrap g-2 mb-3">
            {{#each this}}
                {{#if this.header}}
                    <div class="col-sm">
                        <h3>{{this.name}}</h3>
                    </div>
                {{else}}
                    <div class="col-sm">
                        <h4>{{this.name}}</h4>
                        {{#each this.projects}}
                            <div class="card {{ this.style }}" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.projectName}}</h5>
                                    <h6 class="card-text"><small class="text-muted">{{this.participants}}</small></h6>
                                    <h6 class="card-text">
                                        <small class="text-muted"><i class="bi bi-globe"></i> {{this.language}}, 
                                            {{#if this.agreedToPhoto}}<i class="bi bi-camera-video"></i>{{else}}<i class="bi bi-camera-video-off"></i>{{/if}}</small></h6>
                                    <p class="card-text">{{this.description}}</p>
                                    <a href="{{this.link}}" class="card-link">{{this.link}}</a>
                                    <p class="card-text"><small class="text-muted"><i class="bi bi-calendar"></i> {{this.startTime}} - {{this.endTime}}</small></p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/each}}
</div>
    
