{{!< default}}
    <h2 class="display-6"><i class="bi bi-calendar"></i> {{ eventName }} {{ eventDate }}</h2>
    {{#each grid}}
        <div class="row flex-row flex-nowrap g-2 mb-3">
            {{#each this}}
                {{#if this.header}}
                {{else}}
                    <div class="col">
                        <h5><i class="display-7 bi bi-house-fill"> </i>{{this.name}}</h5>
                        {{#each this.projects}}
                         <h5><i class =" display-7 bi bi-clock-fill"></i> {{this.startTimeShort}} - {{this.endTime}}</h5>
                            <div class="card {{ this.style }}" style="width: 18rem;">
                                <div class="card-header bg-info text-white">
                                    {{this.projectName}}
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{this.participants}}</li>
                                    <li class="list-group-item"><i class="bi bi-globe"></i> {{this.language}}, 
                                            {{#if this.agreedToPhoto}}<i class="bi bi-camera-video-fill text-success"></i>{{else}}<i class="bi bi-camera-video-off-fill text-danger"></i>{{/if}}</li>
                                    <li class="list-group-item"><i class="bi bi-calendar"></i> {{this.startTime}} - {{this.endTime}}</li>
                                </ul>
                                {{#if this.link}}
                                    <div class="card-body">
                                        <a href="{{this.link}}" class="card-link"><i class="bi bi-youtube"></i> YouTube link</a>
                                    </div>
                                {{/if}}
                                <div class="card-body">                              
                                    <p style="max-height: 200px;" class= "card-text overflow-auto ">{{this.description}}</p>
                                </div> 
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/each}}
    </div>
</div>