{{!< default}}
<style>
    .planning-card {
        min-width: 25ch;
    }
</style>
<div class="container-fluid">
    <h2 class="display-6"><i class="bi bi-calendar"></i> {{ eventName }} {{ eventDate }}</h2>
    {{#each grid}}
        <div class="row gy-3">
            {{#each this}}
                {{#unless this.header}}
                    <div class="col-sm">
                        <h5><i class="bi bi-table"> </i>{{this.name}}</h5>
                        {{#each this.projects}}
                            {{#if this.endTime }}
                                <h5><i class=" display-7 bi bi-clock-fill"></i> {{this.startTimeShort}}
                                    - {{this.endTime}}</h5>
                            {{/if}}
                            <div class="card planning-card {{ this.style }}">
                                <div class="card-header bg-info text-white"> {{this.projectName}}</div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{this.participants}}</li>
                                    <li class="list-group-item"><i class="bi bi-globe"></i> {{this.language}},
                                        {{#if this.agreedToPhoto}}
                                            <i class="bi bi-camera-video-fill text-success"></i>{{else}}
                                            <i class="bi bi-camera-video-off-fill text-danger"></i>{{/if}}</li>
                                    {{#if this.endTime}}
                                        <li class="list-group-item"><i class="bi bi-calendar"></i> {{this.startTime}}
                                            - {{this.endTime}}</li>
                                    {{/if}}
                                </ul>

                                {{#if this.link}}
                                    <div class="card-body">
                                        <a href="{{this.link}}" class="card-link"><i class="bi bi-youtube"></i>
                                            YouTube link</a>
                                    </div>
                                {{/if}}
                                {{#if this.yesdescript}}
                                    <div class="card-body">
                                        <p style="max-height: 200px;"
                                           class="card-text overflow-auto ">{{this.description}}</p>
                                    </div>
                                {{/if}}

                            </div>
                        {{/each}}
                    </div>
                {{/unless}}
            {{/each}}
        </div>
    {{/each}}
</div>
