{{!< default}}
<div class="container-fluid" style="padding: 10px; height: 100vh">
    {{#each grid}}
        <div class="card" style="font-size: 48px; height: 100%;">
            <div class="card-header text-center bg-info text-white">
                Coolest Projects Belgium 2022 Edition Detail Fiches
            </div>
            {{#each this}}
                {{#each this.projects}}
                    <div class="card-body row g-3">
                        <div class="col-6">
                            <div class="card"
                                 style="height: 100%; font-size: 24px; text-align: left;">
                                <div class="card-header bg-info text-white">
                                    {{this.projectID}} {{this.projectName}}
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{this.participants}}</li>
                                        <li class="list-group-item"><i class="bi bi-globe"></i> {{this.language}},
                                            {{#if this.agreedToPhoto}}
                                                <i class="bi bi-camera-video-fill text-success"></i>
                                            {{else}}
                                                <i class="bi bi-camera-video-off-fill text-danger"></i>
                                            {{/if}}
                                        </li>
                                        <li class="list-group-item">
                                            <a href="{{this.link}}" class="card-link"><i class="bi bi-youtube"></i>YouTube
                                                link</a>
                                        </li>
                                    </ul>
                                    <div>

                                        <b>Project Decription</b>
                                        <p style="font-size: 24px;line-height: 28px;color: black;"
                                           class="card-text overflow-auto ">{{this.description}}</p>

                                    </div>

                                </div>
                                <div class="card-footer text-center" style="color: black;">
                                    <h2>
                                        {{this.location}}<i class="bi bi-table"> </i>{{this.name}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-grid" style="grid-template-rows: 1fr 1fr; gap: 1rem">
                            <div class="card">

                                <img class="card-body"
                                     src="{{link2}}"
                                     style="max-height: 350px; object-fit: contain">

                            </div>
                            <div class="card">
                                <div class="card-body">
                                    {{> tables selected=this.tableNumber}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">

                        <marquee scrollamount="0" attribute_name="attribute_value"
                                 attribute_name_2="attribute_value_2">
                            <div class="bg-secondary{{ this.style }}"

                                 style="background: rgb(243, 243, 245);width: 100rem;font-size: 42px;">
                                {{this.messages}}
                            </div>
                        </marquee>
                    </div>
                {{/each}}
            {{/each}}
        </div>
        <div class="fixed-bottom">
            <img src="/website/static/QRplanning.png" alt="" style="max-width: 200px; object-fit: contain">
        </div>
    {{/each}}
</div>