p Bonjour  #{name},
|
| Tu as activé avec succès ton projet portant le nom <b>#{cptitle}</b> en tant que chef de projet.
| Ton projet est créé avec l’identifiant suivant: "#{cpid}"
| 
| 
| <p> Si tu veux effectuer des changements dans ton projet ou si tu veux inviter des collaborateurs à ton projet
| utilise le lien suivant <a href="#{urlActivated}">Go2MyProject</a> pour lancer ton navigateur.</p>
|
| tu peux maintenant 
| <ul>
|  <li>Changer tes données personnelles (sauf l’email, l’age,...)</li>
|  <li>Changer le nom et la description de ton projet</li>
|  <li>Inviter des collaborateurs en appuyant sur le bouton "CO-WORKERS"</li>
|  <li>Effacer ton projet entièrement s'il n'y a pas de collègues</li>
| </ul>
|
| <p>Tu trouveras toutes les informations concernant l’événement Coolest Project sur notre site <a href="https://coolestprojects.be">Coolest Projects 2020</a> .</p>
|
| <p>Bonne chance #{name}  et bonne réussite pour le développement de ton projet.</p>
| 
| <p>L’équipe Coolest Project </p>