{{{t "Hi {{hash.firstname}}" firstname=users.firstname }}}

{{{t "Please, use the following link to open your project in your browser 

{{{hash.link}}}

to activate your project."
link=(t "\"{{hash.link}}\"</a>" link=url ) }}}

{{{t "Coolest Project team"}}}