p Hoi #{name},
|
| Je hebt je project met als titel <b>#{cptitle}</b> succesvol geactiveerd als project owner.
| Jouw project heeft de volgende ID: "#{cpid}"
| 
| 
| <p>Indien je wijzigingen wil aanbrengen in jouw project of co-workers wil uitnodigen
| graag dan de volgende link gebruiken om te starten in je browser <a href="#{urlActivated}">Go2MyProject</a></p>
|
| Je kan nu
| <ul>
|  <li>Je persoonlijke gegevens aanpassen (uitgezonderd e-mail, leeftijd, etc.)</li>
|  <li>Projectnaam en beschrijving aanpassen</li>
|  <li>Co-workers uitnodigen voor je project door te klikken op de"CO-WORKERS" knop</li>
|  <li>Je project deleten als er geen medewerkers zijn"</li>
| </ul>
|
| <p>Alle info over Coolest Project kan je vinden op onze website <a href="https://coolestprojects.be">Coolest Projects 2020</a> .</p>
|
| <p>Toi toi #{name} en het allerbeste met het ontwikkelen van je project.</p>
| 
| <p>Coolest Project team </p>
