<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" data-inline />
</head>

<body>
    <div class="container-fluid">
        <h1>{{t "Hi {{hash.firstname}}" firstname=user.firstname }},</h1>

        <p>{{{t "you have successfully joined the project with the title '{{hash.ptitle}}' as coworker.
            This project is created with the following ID: #'{{{hash.cpid}}}'"
            ptitle=project.title cpid=project.id}}}</p>

        <p>{{{t "Only the project owner can make changes to the project.
            Please use the following link <a href=\"{{hash.url}}\">Go2MyProject</a> to start your browser." url=url}}}
        </p>
        <p>{{t "You can now CoW"}}
        <ul>
            <li>{{t "Change your personal data(except the eMail, age,...)"}}</li>
            <li>{{t "View the project information"}}</li>
            <li>{{t "Leave the project and create your own"}}</li>
        </ul>
        <p>{{{t "You will find all the information on Coolest Project on our website {{{hash.link}}}"
            link=(t '<a href="{{hash.website}}">Coolest Projects {{hash.year}}</a>' website=website
            year=year) }}}</p>
        <p>{{{t "Good luck, <strong>{{hash.firstname}}</strong> we’re looking forward to your project development."
            firstname=user.firstname }}}</p>
        <p><strong>{{t "Coolest Project team" }} </strong></p>

    </div>
</body>

</html>